{% extends 'base.html' %}

<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        {% block head %}
        <title>Login</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="container">
            <h2>this is sparrow login page</h2>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        {% endblock %}
    </body>
</html>